// 공통 css
.headerBlock {
  position: relative;
}

/* 모바일 디바이스 */
@media screen and (max-width: 999px) {
  // 모바일 헤더박스 css
  .headerBlock {
    position: sticky;
    top: 0;
    height: 10vh;
    display: flex;
    z-index: 1000;
    background: #00000000;
    opacity: 1;
    padding: 4px 20px;
    background-color: #434343;
    width: 100%;
  }

  .headerBlock__box {
    width: 1194px;
    position: relative;
    img {
      width: 102px;
      height: 42px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // 모바일 햄버거 메뉴 START
  .buttonBurger {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 40px;
    height: 30px;
    overflow: hidden;
    z-index: 100;
    transform: translateY(-50%);
    outline: none;
  }
  .burgerBar {
    position: absolute;
    display: block;
    width: 100%;
    height: 20%;
    background-color: #fff;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  .round {
    border-radius: 10px;
  }
  .positionTop {
    top: 0;
    transition: all 0.1s;
  }
  .positionMiddle {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s;
  }
  .positionBottom {
    top: 100%;
    transform: translateY(-100%);
    transition: all 0.1s;
  }
  .isAct .positionTop {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .isAct .positionMiddle {
    transform: translate(-105%, -50%);
  }
  .isAct .positionBottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .headerBlock__box-ui {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    width: 70%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2em 1em;
    transform: translateX(-105%);
    transition: all 0.05s;
  }
  .isAct .headerBlock__box-ui {
    transform: none;
  }

  .headerBlock__box-li {
    margin: 0.5em 0;
    display: block;
    padding: 1em;
    font-weight: 700;
    font-size: 1.6rem;
  }
  // 모바일 햄버거 메뉴 END
}

/* 데스크탑 디바이스 */
@media screen and (min-width: 1000px) {
  // 헤더 css
  .headerBlock {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 1;
  }

  .notHeaderColor {
    background-color: #00000000;
  }

  .headerblack {
    background-color: black;
  }

  .headerBlock__box {
    position: relative;
    img {
      width: 96px;
      height: 35px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      user-select: none;
    }
  }

  //헤더 UI
  .headerBlock__box-ui {
    text-align: right;
    padding: 2px 0;
    font-size: 0;
  }

  .headerBlock__box-li,
  .headerBlock__box-a {
    display: inline-block;
    color: #9f9f9f;
    text-decoration: none;
    &.active {
      color: white;
    }
  }

  .headerBlock__box-li {
    font-size: 1.4rem;
    object-fit: contain;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.04;
    letter-spacing: normal;
    text-align: center;
  }

  .headerBlock__box-a {
    margin: 0px 23px;
  }
}

// 헤더 크기 css
@media screen and (max-width: 1199px) and (min-width: 999px) {
  .headerBlock__box {
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .headerBlock__box {
    width: 1194px;
  }
}

// nav 마우스 오버 효과
/*  데스크탑 디바이스 */
@media screen and (min-width: 1000px) {
  /*
* core styles
*/
  .sm-link {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    --uismLinkTextColor: var(--smLinkTextColor);
    --uismLinkTextColorHover: var(--smLinkTextColorHover);

    display: var(--uismLinkDisplay);
    color: var(--uismLinkTextColor);
    position: relative;
    overflow: hidden;
  }

  .sm-link__label {
    display: block;
  }

  /* sm-link_padding-all */

  .sm-link_padding-all {
    --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
    --uismLinkLineColor: var(--smLinkLineColor, #000);
    --uismLinkPadding: var(--smLinkPadding, 5px);

    padding: var(--uismLinkPadding);
  }

  .sm-link_padding-all::before,
  .sm-link_padding-all::after {
    width: 100%;
    height: var(--uismLinkLineWeight);
    left: 0;
  }

  .sm-link_padding-all::before {
    top: 0;
  }

  .sm-link_padding-all::after {
    bottom: 0;
  }

  .sm-link_padding-all .sm-link__label::before,
  .sm-link_padding-all .sm-link__label::after {
    width: var(--uismLinkLineWeight);
    height: 100%;
    top: 0;
  }

  .sm-link_padding-all .sm-link__label::before {
    left: 0;
  }

  .sm-link_padding-all .sm-link__label::after {
    right: 0;
  }

  .sm-link_padding-all::before,
  .sm-link_padding-all::after,
  .sm-link_padding-all .sm-link__label::before,
  .sm-link_padding-all .sm-link__label::after {
    content: '';
    background-color: var(--uismLinkLineColor);
    position: absolute;
    opacity: 0;

    will-change: transform, opacity;
    transition-property: transform, opacity;
  }

  .sm-link_padding-all:hover::before,
  .sm-link_padding-all:hover::after,
  .sm-link_padding-all:hover .sm-link__label::before,
  .sm-link_padding-all:hover .sm-link__label::after {
    opacity: 1;
  }

  /* sm-link_padding-bottom */

  .sm-link_padding-bottom {
    --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
    --uismLinkLineColor: var(--smLinkLineColor, #000);

    padding-bottom: var(--uismLinkLineWeight);
    position: relative;
  }

  .sm-link_padding-bottom::after {
    content: '';
    width: 100%;
    height: var(--uismLinkLineWeight);
    background-color: var(--uismLinkLineColor);

    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* sm-link_bg */

  .sm-link_bg {
    --uismLinkLineColor: var(--smLinkLineColor, #000);
    --uismLinkTextColorHover: var(--smLinkTextColorHover, #fff);
    --uismLinkPadding: var(--smLinkPadding, 5px);

    padding: var(--uismLinkPadding);
    transition: color 0.3s ease-out;
  }

  .sm-link_bg .sm-link__label {
    position: relative;
    z-index: 2;
  }

  .sm-link_bg:hover::before,
  .sm-link_bg:hover::after {
    opacity: 1;
    transition-duration: 0.35s, 0.35s;
    transition-delay: 0s, 0s;
  }

  .sm-link_bg:hover {
    color: var(--uismLinkTextColorHover);
  }

  /* sm-link_text */

  .sm-link_text::before {
    content: attr(data-sm-link-text);
    color: var(--uismLinkTextColorHover);
    position: absolute;
  }

  .sm-link_text::before,
  .sm-link_text .sm-link__label {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.86, 0.6, 0.08, 1.01);
    transition-duration: 0.3s;
  }

  .sm-link_text:hover::before,
  .sm-link_text:hover .sm-link__label {
    transition-duration: 0.4s;
  }

  /* effect 1 */

  .sm-link1::before {
    transform: translate3d(-105%, 0, 0);
  }

  .sm-link1::after {
    transform: translate3d(105%, 0, 0);
  }

  .sm-link1 .sm-link__label::before {
    transform: translate3d(0%, -100%, 0);
  }

  .sm-link1 .sm-link__label::after {
    transform: translate3d(0%, 100%, 0);
  }

  .sm-link1::before,
  .sm-link1::after,
  .sm-link1 .sm-link__label::before,
  .sm-link1 .sm-link__label::after {
    transition-timing-function: ease-out;
    transition-duration: 0.2s, 0.15s;
    transition-delay: 0s, 0.15s;
  }

  .sm-link1:hover::before,
  .sm-link1:hover::after,
  .sm-link1:hover .sm-link__label::before,
  .sm-link1:hover .sm-link__label::after {
    transform: translate3d(0, 0, 0);
    opacity: 1;

    transition-duration: 0.25s;
    transition-delay: 0s;
  }

  /*
SETTINGS
*/

  .sm-link {
    --smLinkPadding: 10px 15px;
    --smLinkLineWeight: 5px;
    --smLinkLineColor: #ffffff;
    --smLinkTextColorHover: #1b255a;
  }

  .sm-link_bg {
    --smLinkTextColorHover: #fff;
  }
}
